.header {
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-position: center;
  padding: 90px 40px 60px;
  max-height: 900px;
  height: 100vh;
  position: relative;

  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    background-image: url("../img/header-bg-x2.png");
  }
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.21) 19.88%, rgba(0, 0, 0, 0) 30.78%),
    linear-gradient(217.1deg, rgba(0, 0, 0, 0.21) 20%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(158.58deg, rgba(0, 0, 0, 0.21) 20%, rgba(0, 0, 0, 0) 50%);
  }
  &__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  &__logo{
    position: absolute;
    top: 30px;
    img{
      max-width: 100%;
      height: auto;
      display: block;
      object-fit: contain;

    }
  }
  &__right{
    text-align: right;
    margin-top: -50px;
  }
  &__logo-big{
    margin-bottom: 32px;
    display: block;
    text-decoration: none;
    img{
      max-width: 100%;
      height: auto;
      display: block;
      object-fit: contain;
      margin-left: auto;
    }
  }
  &__subtitle{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 119.1%;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  @include r(767){
    padding: 90px 15px 60px;
    &:before{
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
    &__right{
      text-align: center;
      margin: auto auto 30px;
    }
  }

}