<footer class="footer scroll-reveal">
    <div class="container">
        <div class="footer__body">
        <div class="footer__copy">© 2021 Atasu Group</div>
        <div class="social">
            <a href="" class="social__item facebook"></a>
            <a href="" class="social__item linkedin"></a>
            <a href="" class="social__item instagram"></a>
            <a href="" class="social__item youtube"></a>
            <a href="" class="social__item telegram"></a>
            <a href="" class="social__item mail"></a>
        </div>
        <a href="#" target="_blank" class="footer__logo">
            <img src="./img/logo-footer.svg" width="150" height="36" alt="">
        </a>
        </div>
    </div>
</footer>