<header class="header">
    <a href="#" class="header__logo scroll-reveal"><img src="./img/logo-kapital.svg" width="120" height="24px"
                                                        alt=""></a>
    <div class="header__right scroll-reveal">
        <div class="header__logo-big"><img src="./img/logo-big.svg" width="464" height="110" alt=""></div>
        <div class="header__subtitle">Перевозки от простых до сложных</div>
    </div>


    <div class="services scroll-reveal">
        <div class="services__item">
            <i class="icon icon-train"></i>
            <div class="services__name">Ж/Д перевозки</div>
        </div>
        <div class="services__item">
            <i class="icon icon-lorry"></i>
            <div class="services__name">Автоперевозки</div>
        </div>
        <div class="services__item">
            <i class="icon icon-airplane"></i>
            <div class="services__name">Авиаперевозки</div>
        </div>
        <div class="services__item">
            <i class="icon icon-ship"></i>
            <div class="services__name">Мультимодальные
                перевозки
            </div>
        </div>
        <div class="services__item">
            <i class="icon icon-package"></i>
            <div class="services__name">Курьерские услуги</div>
        </div>
    </div>
</header>