@import "partials/normalize";
@import "mixin";
@import "fonts";
@import "icon";
@import "buttons";

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: $font1;
    &.lock {
        overflow: hidden;
    }
}

.wrp {
    overflow: hidden;
    position: relative;
}

.d-none {
    display: none;
}
.d-flex{
    display: flex;
}

.d-desktop-none {
    display: none;
    @include r(767) {
        display: block;
    }
}

.d-mobile-none {
    display: block;
    @include r(767) {
        display: none !important;
    }
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.w100 {
    width: 100%;
}


.text-warning {
    color: #F2994A;
}
.text-danger{
    color: #eb5757;
}
.text-link{
    color: #324c9a;
}

.text-success {
    color: #6fcf97;
}
.text-muted {
    color: #a4a9bb;
}
.text-center {
    text-align: center;
}

p {
    color: #333;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.d-block {
    display: block;
}

.embed-responsive{
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    &::before {
        display: block;
        content: "";
    }
    &.embed-responsive-21by9{

    }
    &.embed-responsive-16by9{
        &::before {
            padding-top: 56.25%;
        }
    }
    &.embed-responsive-4by3{

    }
    &.embed-responsive-1by1{

    }
    embed,
    iframe,
    object,
    video,
    .embed-responsive-item{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}



//Шапка
@import "componets/header";

//Подвал
@import "componets/footer";

//Статьи
@import "componets/articles";

//Выгодные предложения
@import "componets/offers";

//Видео
@import "componets/video";

//Цифры
@import "componets/numbers";

//В деле
@import "componets/business";

//Логистика
@import "componets/logistic";

//Доставка
@import "componets/delivery";

//Контакты
@import "componets/contacts";

//Контакты
@import "componets/social";

//Контакты
@import "componets/services";


