.icon {
    display: inline-block;
    position: relative;
    margin-right: 14px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon-eye {
    background-image: url("../img/icons-sprite.svg#icon-eye");
}
.icon-arrow-btn {
    background-image: url("../img/icons-sprite.svg#icon-arrow-btn");
    margin-left: 14px;
    width: 38px;
    height: 15px;
    margin-right: 0;
}
.icon-logistic {
    background-image: url("../img/icons-sprite.svg#icon-logistic");
}
.icon-sclad {
    background-image: url("../img/icons-sprite.svg#icon-sclad");
}
.icon-deal {
    background-image: url("../img/icons-sprite.svg#icon-deal");
}
.icon-around-clock {
    background-image: url("../img/icons-sprite.svg#icon-around-clock");
}

.icon-facebook {
    background-image: url("../img/icons-sprite.svg#bxl-facebook");
}
.icon-instagram {
    background-image: url("../img/icons-sprite.svg#bxl-instagram");
}
.icon-linkedin {
    background-image: url("../img/icons-sprite.svg#bxl-linkedin");
}
.icon-telegram {
    background-image: url("../img/icons-sprite.svg#bxl-telegram");
}
.icon-youtube {
    background-image: url("../img/icons-sprite.svg#bxl-youtube");
}
.icon-mail {
    background-image: url("../img/icons-sprite.svg#mail");
}

.icon-ship{
    background-image: url("../img/icons-sprite.svg#icon-ship");
}
.icon-train{
    background-image: url("../img/icons-sprite.svg#icon-train");
}
.icon-lorry{
    background-image: url("../img/icons-sprite.svg#icon-lorry");
}
.icon-package{
    background-image: url("../img/icons-sprite.svg#icon-package");
}
.icon-airplane{
    background-image: url("../img/icons-sprite.svg#icon-airplane");
}